<h1>Missing Foods</h1>

<p>Total Food Items: <%= @total_food_items %></p>
<p>Total Price: <%= @total_price %></p>

<ul>
  <% @missing_foods.each do |food| %>
    <li><%= food.name %> - <%= food.price %></li>
  <% end %>
</ul>
