<% content_for :styles do %>
  ul {
  max-width: 500px;
  margin: auto;
  padding-left: unset;
}

.recipe {
  border: 2px solid black;
  padding: 2rem;
  margin-bottom: 1rem;
  list-style-type: none;
  display: flex;
  gap: 2rem;
}
.rname {
  font-weight: bold;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}
a {
  color: black;
}
<% end %>

<div class='container'> 
<ul> 
<% @precipes.each do |recipe| %>
  <li class='recipe'>
      <div class='rname'>
          <%= link_to recipe.name, recipe_path(recipe)  %>  
          <small> added by <%= recipe.user.name %> </small>
      </div>
      <div>
          <div> Total Items: <%= @total_items %>  </div>
          <div>Total Cost: <%= @total_cost %>   </div>
      </div>
  </li>
<% end %>
</ul>
</div>
