<header>
  <nav class="h-14 flex items-center max-w-sm md:max-w-lg lg:max-w-2xl mx-auto">
    <% if user_signed_in? %>
      <ul class="flex gap-x-2 justify-end items-center">
        <li class="text-md font-semibold">Hi <%= current_user.name %></li>
        <li>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "text-md" %>
        </li>
        <li>
          <%= link_to "Food List", foods_path, class: "text-md" %>
        </li>
      </ul>
    <% end %>
  </nav>
</header>